.container-fluid.tabnavgation {
    float: left;
    width: 100%;
    background-color: #eef0ff;
    margin: 0 0 5px;
    position: fixed;
    z-index: 9;
}
ul.company_navagation {
    float: left;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    margin-bottom: 0;
    overflow-x: auto;
    display: flex;
}
ul.company_navagation li {
    float: left;
    width: auto;
    padding-right: 30px;
    white-space: nowrap;
}
ul.company_navagation li a {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
/* ul.company_navagation a.active {
    color: #2254d6;
} */
.code {
    margin-top: 42px;
}





ul.exchangecode {
    float: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-top: 15px;
}
ul.exchangecode li {
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    border: .25px solid #aea8a8;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    padding: 5px 18px;
    min-width: 100px;
    text-align: center;
    color: #757575;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.exchangecode li.active {
    color: #fff;
    background-color: #0354d6;
}
li.share_company svg {
    font-size: 20px;
    margin-right: 8px;
    color: #0454d6;
}
h1.companyname {
    color: #191919;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
}
.companyvalues h4 {
    color: #757575;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin: 5px 0 20px;
}
.companyvalues h4 span {
    background-color: #f58635;
    padding: 2px 7px;
    font-size: 18px;
    color: #fff;
    margin-left: 5px;
    display: flex;
    align-items: end;
    justify-content: center;
    vertical-align: middle;
    margin-right: 4px;
}
.companyvalues h2 {
    color: #191919;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 5px;
    display: flex;
}
.companyvalues h2 span {
    color: #191919;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: flex;

}
.companyvalues h2 span.gain {
    color: #0fa202!important;
    font-weight: 800;
    font-size: 16px!important;
}
span.gainpercentage {
    color: #0fa202!important;
    font-weight: 800!important;
    font-size: 16px!important;
}
.topp {
    position: relative;
}
span.gainpercentage {
    position: absolute;
    left: 31px;
    top: 0px;
}
span.gainpercentage svg {
    font-size: 22px;
}
.companyvalues p {
    color: #757575;
    font-size: 14px;
}
.companyvalues button {
    border-radius: 5px;
    border: .25px solid #555;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    color: #0354d6;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.companyrange h3 {
    color: #0354d6;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    padding-top: 1px;
}
.companyrange.range {
    margin-bottom: 15px;
}
.rangespan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rangespan span {
    font-weight: 600;
    font-size: 16px;
    color: black;
}
input.range3 {
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 20px;
    height: 6px;
    background: #191919;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: auto; 
    height: 100px;
    width: 100%;
}
.companyrange {
    padding-top: 145px;
}

.companychart {
    padding: 20px;
    margin-top: 38px;
}
h2.sectionheading {
    color: #191919;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 15px;
}
.tab-content {
    padding-right: 20px;
}
ul.nav.nav-tabs.financialstabs {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 0;
}
ul.nav.nav-tabs.financialstabs li {
    margin-right: 15px;
    border: 0!important;
}
ul.nav.nav-tabs.financialstabs li a.active {
    border: 0!important;
    border-bottom: 1.5px solid #0354d6!important;
}
ul.nav.nav-tabs.financialstabs li a {
    padding: 0;
    color: #191919;
}
h3.sectionssubheadings {
    color: #191919;
    font-size: 20px;
    text-align: left!important;
    float: left;
    width: 100%;
    padding-top: 20px;
}
img.space {
    width: 84%;
    height: auto;
}
.legend {
    font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
   
}
.companyfundamentals_rightnav {
    border-radius: 12px;
    border: 1px rgb(218,220,224) solid;
    margin-bottom: 16px;
    padding: 16px 16px 0 16px;
    box-sizing: border-box;
    float: left;
    width: 100%;
}
h2.sectionheading {
    color: #191919;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 0px;
}
h2.sectionheadings {
    color: #191919;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 42px;
}
ul.fundamentallist {
    float: left;
    width: 100%;
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0px;
}
ul.fundamentallist li {
    border-top: 1px solid rgb(218,220,224);
    padding: 8px 0;
    min-height: 43px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7875rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: rgb(95,99,104);
    margin-right: 8px;
}
ul.fundamentallist li span {
    font-weight: bold;
    color: #000;
    font-size: 0.8rem;
}
p.peerindustry {
    float: left;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 10px;
}
p.peerindustry {
    margin-bottom: 15px !important;
}

p.peerindustry span {
    margin-right: 15px;
}
p.peerindustry b {
    font-weight: 700;
    color: black;
    font-size: 17px;
}
span.industryvalues {
    color: #0254d6;
    font-weight: 600;
    font-size: 17px;
}
table thead tr {
    background: #FFF;
    box-shadow: 0px 3px 3px 0px rgba(22, 33, 164, 0.30);
    margin-bottom: 10px;
}
thead tr th {
    background-color: #1b1d3b !important;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}
table tr th{
         padding: 0.5rem;
        font-size: 13px;
        font-weight: 400;
}
table.peercompare_table tbody tr:nth-child(even) td:first-child {
    background-color: #edeef2;
}
table.peercompare_table tbody tr:nth-child(odd) td:first-child {
    background-color: white
}
table.peercompare_table tr td:first-child {
    position: sticky;
    left: 0px;
    box-shadow: 5px 0 5px -2px #c8c3c3;
    display: block;
}
tr:nth-child(even) {
    background-color: #edeef2;
}
span.compareticker_name {
    font-weight: bold;
    color: black;
    padding: 0px;
   
}
table.peercompare_table a {
    color: #0d6efd;
    text-decoration: underline;
}
span.similarcomp_percent {
    font-weight: 500;
    line-height: 1.5rem;
    padding: 4px 10px;
    border-radius: 8px;
    width: min-content;
    min-width: 40px;
}
td.table_data {
    padding-left: 8px;
}
td.text-end {
    padding-left: 8px;
}


.isnegative {
    color: rgb(165,14,14);
    background: rgb(252,232,230);
}
.ispositive {
    color: #0fa202;
    background: rgb(230,244,234);
}
.responsive {
    overflow-x: scroll;
}
.coveredsection {
    display: flex;
}

.item {
    margin: 10px;
}
.reportcovered_data {
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 10px;
   width: 93%;
}
p.compreport_stats {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}
span.reportcomp_category {
    background-color: #1b1d3b;
    padding: 6px 6px;
    line-height: 1rem;
    font-size: .6875rem;
    letter-spacing: 0;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
}
.reportcovered_data h3 {
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .0178571429em;
    font-weight: 500;
    position: relative;
    color: #000;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reportcovered_data h3 a {
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .0178571429em;
    font-weight: 500;
    position: relative;
    color: #000;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
p.reporttime {
    font-size: 13px;
    margin-bottom: 5px;
    color: black;
}
p.reportcontent_stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}
p.reportcontent_stats span {
    display: grid;
}
span.reportcomp_price {
    line-height: 1.5rem;
    font-size: 1.2rem;
    letter-spacing: .00625em;
    font-weight: 500;
    color: #000;
}
p.reportcontent_stats label {
    font-size: 12px;
    text-align: center;
}
p.reportcontent_stats img {
    width: 15px;
    height: auto;
    max-width: 15px;
    margin: auto;
    padding: 3.6px 0;
}
.item span.reportcomp_action span {
    display: none;
}
span.ispositive {
    text-align: center;
    border-radius: 4px;
    padding: 0 10px 3px;
}
.ispositive {
    color: #0fa202;
    background: #e6f4ea;
}
.owl-carouselstockcovered .item .actionrecommendation {
    display: none;
}
.btn_nav {
    float: left;
    width: 100%;
    position: absolute;
    top: 58%;
}
.left-btn {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.btn-prev {
    width: 39px;
    height: 39px;
    background-color: rgb(222, 227, 255)!important;
    color: rgb(255, 255, 255)!important;
    border-radius: 120px;
    border: none;
    position: absolute;
    left: -13px;
}
.left-btn img {
    transform: rotate(180deg);
    position: relative;
    z-index: 2;
    left: 8px;

}
.right-btn {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.btn-next {
    right: -17px;
    position: absolute;
    width: 39px;
    height: 39px;
    background-color: rgb(222, 227, 255)!important;
    color: rgb(255,255,255)!important;
    border-radius: 120px;
    border: none;
}
.right-btn img {
    position: relative;
    z-index: 2;
    left: 12px;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.newsall {
    min-width: max-content;
    text-align: right;
    text-decoration: none;
    border-bottom: 1px solid;
    color: blue;
   
}
ul.latestarticleul {
    float: left;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
}
ul.latestarticleul li {
    float: none;
    width: 31.7%;
    margin-right: 2%;
    padding-bottom: 10px;
    background: #fff;
    margin-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;
}
ul.latestarticleul li img {
    float: left;
    width: 22%;
    border-radius: 10px;
    min-height: auto;
    height: auto;
}
.articlecontent {
    float: left;
    width: 78%;
    padding-left: 15px;
}
.newstiming {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.newstiming p {
    font-size: 14px;
    margin-bottom: 0!important;
    color: blue;
}
.articlecontent h2 {
    float: left;
    width: 100%;
    color: #191919;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.descriptionbox {
    position: relative;
    float: left;
    width: 100%;
}
.descriptionbox input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.descriptionbox p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
}
p.compprofile_description {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.descriptionbox input:checked+p.compprofile_description {
    -webkit-line-clamp: unset;
    margin-bottom: 70px;
    float: left;
    width: 100%;
}
label#ob-readmore-placeholder {
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.46) 8%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 99%);
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.46) 8%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 99%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,0.46) 8%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 99%);
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 4;
}
.descriptionbox input:checked~label#ob-readmore-placeholder {
    background: 0 0;
}
label#ob-readmore-placeholder span {
    width: auto;
    height: inherit;
    background-color: #1b1d3b;
    color: #fff;
    border: 1px solid #1b1d3b;
    cursor: pointer;
    text-align: center;
    padding: 3px 15px;
    margin: 50px 5px 16px;
    border-radius: 20px;
    display: inline-block;
}
input:checked~label#ob-readmore-placeholder span:before {
    content: 'Read Less';
}
label#ob-readmore-placeholder span:before {
    content: 'Read More';
}
h3.sectionsubheadings {
    color: #191919;
    font-size: 20px;
    text-align: left!important;
    float: left;
    width: 100%;
}
ul.comprofile_contact {
    float: left;
    width: 100%;
    list-style: none;
    padding-left: 0;
}
ul.comprofile_contact li {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    color: black;
}
.table-executive {
    float: left;
    width: 100%;
}
table thead tr {
    background: #fff;
    box-shadow: 0 3px 3px 0 rgba(22,33,164,.3);
    margin-bottom: 10px;
}
table tr th {
    padding: 0.5rem;
    font-size: 13px;
    font-weight: 400;
}
table tr th {
    color: white !important;
}
p.compprofile_description {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    font-size: 16px;
    color: black;
    line-height: 23px;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    ul.exchangecode  {
          display: flex; 
    }
    h1.companyname {
       font-size: 32px;
        
    }
    .companyrange {
        padding-top: 0px;
    }
    .companychart {
        padding: 0px;
        margin-top: 20px;
    }
    .companyvalues h2 {
     display: block;      
    }
    h2.sectionheadings {
        margin-top: 0px;
    }
    .companyfundamentals_rightnav {
        margin-top: 20px;
    }
    .coveredsection {
       display: block;
    }
    
    h2.sectionheading {
        margin-bottom: 9px;
        margin-top: 29px;
    }
    ul.latestarticleul li {
       width: 100%;
    }
    ul.latestarticleul li img {
       
        width: 100%;

    }
    .articlecontent {
        width: 100%;
        padding-left: 0px;
    }
    p.compprofile_description {
        text-align: justify;
        padding-top: 26px;
    }
    .legendcommon {
        margin-left: 46px;
    }
    span.industryvalues {
        color: #0254d6;
        font-weight: 600;
        font-size: 14px;
    }
    p.peerindustry span {
        margin: 0px;
    }
    
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .companyrange {
        padding-top: 0px;
    }
    .companychart {
        padding: 0px;
        margin-top: 20px;
    }
    h2.sectionheadings {
        margin-top: 25px;
    }
    .legendcommon {
        text-align: center;
    }
    img.space {
        width: 100%;
        height: auto;
    }
    .companyfundamentals_rightnav {
        margin-top: 18px;
    }
    h2.sectionheading {
        margin-top: 10px;
    }
    ul.latestarticleul li img {
        width: 100%;
    }
    ul.latestarticleul li {
        width: 47.5%;
    }
    .articlecontent {
        float: left;
        width: 100%;
        padding-left: 0px;
    }
    ul.latestarticleul li :nth-child(odd) {
        margin-right: 2%;
       
    }
    /* ul.latestarticleul {
        
    } */
    .reportcovered_data {
        width: 100%;
    }
    p.compprofile_description {
        text-align: justify;
        padding-top: 0px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    ul.exchangecode {
        display: flex;
    }
    .companyrange {
        padding-top: 0px;
    }
    /* .companyvalues h2 {
        flex-direction: column;
    } */
    
    .companyvalues p {
        color: #757575;
        font-size: 15px;
    }
    .companyrange {
        padding-top: 0px;
    }
    .companychart {
        padding: 0px;
        margin-top: 38px;
        padding-top: 19px;
        padding-left: 20px;
        
    }
    h2.sectionheadings {
        margin-top: 23px;
    }
    img.space {
        width: 93%;
        height: auto;
    }
    /* .legendcommon {
        padding-left: 58px;
    } */
    .legend {
        font-size: 8px;
    padding: 2px 10px;
    margin-right: 80px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 2px;
    }
    ul.latestarticleul li {
        width: 47.5%;
    }
    p.compprofile_description {
        padding-right: 20px;
        font-size: 16px;
    } 
   


}
@media only screen and (min-width:1025px) and (max-width: 1200px) {
    ul.exchangecode  {
        display: flex; 
  }
  .companyvalues h2 {
        flex-direction: column;
    } 
    .companyvalues p {
        color: #757575;
        font-size: 15px;
    }
    .legendcommon {
        padding-left: 57px;
    }
    
    .legendcommon {
        padding-left: 6px;
    }

}
