   .policy {
    background-color: rgb(27, 29, 59);
    }
    .ref{
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
    }
    .ref a {
    color: white;
    }
    .copyright {
    font-size: 17px;
    color: #fff;
    }
    p.copyright {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
    }
    .disc {
    font-weight: 800;
    color: #fff;
    font-size: 14px;
    }
    .box_design{
    padding: 35px;
    }
    .divide ul {
        text-align: center;
    }
    .divide ul li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid #707070;
    padding-right: 13px;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    }
    .divide li:last-child {
        border-right: 0px;
    }
    /* .divide {
        padding-left: 66px;
        padding-right: 66px;
    }
   */